################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ApplicationForOrganizingCompetitions/v17/.suo
/.vs/ApplicationForOrganizingCompetitions/v17/DocumentLayout.backup.json
/.vs/ApplicationForOrganizingCompetitions/v17/DocumentLayout.json
